body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
  }
  
header {
    background-color: #000;
    color: red;
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
    font-weight: bold;
  }
  
main {
    padding: 30px;
  }
  
section {
    margin-bottom: 40px;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
  }
  
h2 {
    color: red;
  }

footer {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 14px;
}