body {
    background-color: #d3d3d3;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(pngtree-gray-business-background-light-effect-image_564166.jpg);
}
header {
    background-color: #000;
    color: red;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'netflix';
}
@font-face {
    font-family: 'netflix';
    src: url(NetflixSans-Medium.otf);
}
footer {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 14px;
}
.container {
    width: 90%;
    margin: 30px auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: rgb(37, 37, 37);
    color: white;
}
td {
    border: 1px solid #000;
    padding: 15px;
    vertical-align: top;
}
.section-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: red;
    border-color: white;
}
.movie-title {
    font-weight: bold;
}